<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <welcome-file-list>
        <welcome-file>JspPage/ShopHomePage.jsp</welcome-file>
    </welcome-file-list>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>LoginCheckServlet</servlet-name>
        <servlet-class>Servlet.LoginCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheckServlet</servlet-name>
        <url-pattern>/Servlet/LoginCheckServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddShopCarServlet</servlet-name>
        <servlet-class>Servlet.AddShopCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddShopCarServlet</servlet-name>
        <url-pattern>/Servlet/AddShopCarServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddaddressServlet</servlet-name>
        <servlet-class>Servlet.AddaddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddaddressServlet</servlet-name>
        <url-pattern>/Servlet/AddaddressServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>Servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/Servlet/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchShopServlet</servlet-name>
        <servlet-class>Servlet.SearchShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchShopServlet</servlet-name>
        <url-pattern>/Servlet/SearchShopServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShopNumberCutServlet</servlet-name>
        <servlet-class>Servlet.ShopNumberCutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopNumberCutServlet</servlet-name>
        <url-pattern>/Servlet/ShopNumberCutServlet</url-pattern>
    </servlet-mapping>
</web-app>